

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* App.css */
/* Apply a background color and more padding to the main container */
.mortgage-calculator {
  background-color: #f3f3f3; 
  border-radius: 10px;
  padding: 20px;
  margin: 0 auto;
  max-width: 400px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
  transform: scale(1);
}

/* Add hover effect to the entire container */
.mortgage-calculator:hover {
  transform: scale(1.02);
}

/* Style the header */
.mortgage-calculator h1 {
  text-align: center;
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}

/* Style the form elements */
.mortgage-form input {
  /* padding: 12px; */
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  overflow: hidden;
  line-height: 3;
  width: 100%;
}

/* Style the button */
.mortgage-form button {
  width: 100%;
  padding: 12px; /* Increased padding for better touch support */
  background-color: #0074D9;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 18px; /* Larger font size for better visibility */
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 16px; /* Increased top margin for spacing */
}

.mortgage-form button:hover {
  background-color: #0056b3;
}

/* Style the result section */
.mortgage-results {
  margin-top: 20px;
  text-align: center;
  background-color: #fff; /* White background for result section */
  padding: 20px; /* Increased padding for better separation */
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.mortgage-results h2 {
  font-size: 20px;
  color: #333;
}

.mortgage-results p {
  font-size: 18px;
  color: #0074D9;
  margin-top: 10px;
}
